.mainContainer {
  display: flex;
  padding: 8px 15px;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgb(203, 213, 225);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}